streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-core
pypdf
sentence-transformers
chromadb==0.4.22
numpy==1.26.4
onnxruntime==1.17.1
coloredlogs==15.0.1
flatbuffers==23.5.26
protobuf==4.25.3
